{% extends 'suportes.html' %}
{% set usuario_atual = current_user_data() %}
{% set situacao_atual = situacoes_suporte.query.filter_by(id=suporte.id_situacao_suporte).first() %}

{% set autor = usuarios.query.filter_by(id=suporte.id_usuario_autor).first() %}
{% set destino = usuarios.query.filter_by(id=suporte.id_usuario_destino).first() %}
{% block central %}

{% if suporte.visivel == 1 %}
    {% set visivel = 'Público' %}
{% else %}
    {% set visivel = 'Privado' %}
{% endif %}
<div class="container">
    <div class="container cabecalho_suporte">
        <h2 class="text-start p-2">Dados suporte:</h2>
        <div class="row text-start">
           <p>
               <span class="p-3">Id: {{ suporte.id }}</span>
               <span class="p-3">Título Suporte: </span>
               {% if suporte.visivel == 0 and (usuario_atual.id == autor.id or usuario_atual.id == destino.id or usuario_atual.id == 1) %}
                <span><strong>{{ suporte.titulo_suporte }}</strong></span>
               {% elif suporte.visivel == 1 %}
               <span><strong>{{ suporte.titulo_suporte }}</strong></span>
               {% endif %}
           </p>
            <p>
               <span class="p-3">
                   Tipo suporte:
                   {{ tipos_suportes.query.filter_by(id=suporte.id_tipo_suporte).first().nome_tipo_suporte }}
               </span>
               <span class="p-3">
                   Autor:
                   {{ autor.nome_usuario }}
               </span>
               <span class="p-3">
                   Setor:
                   {{ setores.query.filter_by(id=suporte.id_setor_suporte).first().nome_setor }}
               </span>
               <span class="p-3">
                   Situação suporte:
                   {{ situacoes_suporte.query.filter_by(id=suporte.id_situacao_suporte).first().nome_situacao_suporte }}
               </span>
               <span class="p-3">
                   Privacidade:
                   {{ visivel }}
               </span>
           </p>
           <p>
               <span class="p-3">
                   Usuário destino:
                   {{ destino.nome_usuario }}
               </span>
               <span class="p-3">
                   Setor destino:
                   {{ setores.query.filter_by(id=suporte.id_setor_destino_suporte).first().nome_setor }}
               </span>
               <span class="p-3">
                   Urgência:
                   <strong>{{ grau_urgencia.query.filter_by(id=suporte.id_grau_urgencia).first().nome_urgencia }}</strong>
               </span>
               <span class="p-3">
                   Data cadastro:
                   {{ retorna_data_hora(suporte.data_cadastro) }}
               </span>
           </p>
           <p>

               <span class="p-3">
                   Data último trâmite:
                   {{ retorna_data_hora(suporte.data_ultimo_tramite) }}
               </span>
           </p>
        </div>
    </div>
    <div class="container">
        <form method="POST" action="" class="border m-5 p-2">
          {{ form.csrf_token }}
          <fieldset>
            <div class="form-group">
              {{ form.ordem_fila.label(class="form-control-label") }} {{
              form.ordem_fila(class="form-control") }}
            </div>
          </fieldset>
            {{ form.botao_submit(class="btn btn-primary m-1") }}
        </form>
    </div>
</div>
{% endblock %}
